.slick-dots li button:before {
  font-size: 20px;

  color: black;
}
/* slick-dots li button {
  font-size: 10px;
  line-height: 0px;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
} */
/* .slick-dots {
  position: absolute;
  bottom: 30px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
} */

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
