.slick-prev:before,
.slick-next:before {
  color: gray !important;
  font-size: 3rem !important;
  z-index: 2;
}
/* .slick-next:before {
  margin-right: 100px !important;
} */

.width-item {
  width: 100% !important;

  margin-top: 20px;
}

.activeFilm {
  @apply bg-gray-800 text-white;
}

.noneActiveFilm {
  @apply bg-white text-gray-800;
}
