.hinh-thang {
  border-bottom: 20px solid black;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 80%;
  opacity: 0.1;
  -webkit-box-shadow: 6px 29px 17px 1px #000000;
  box-shadow: 6px 29px 17px 1px #000000;
}
